:root {
  --bg-color: #23262d;
  --white: #ffffff;
}

.main {
  font-size: 16px;
  background-color: var(--bg-color);
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
}

.sidebar {
  padding: 20px;
  border-right: 1px solid white;
}

.menu-item {
  display: flex;
  font-size: 20px;
  margin-bottom: 1em;
}

.menu-item button {
  margin-left: 1em;
}

.content {
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: center;
  line-height: 1.5em;
}